<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConsultaErgonTech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ConsultaErgonTech.Properties.Settings>
            <setting name="sqlserver" serializeAs="String">
                <value>Data source=YURI;
Initial Catalog=BD_TRATORPECAS;
UID=sa;
pwd=masterkey</value>
            </setting>
            <setting name="firebird" serializeAs="String">
                <value>User=SYSDBA;   
 Password=masterkey;   
 Database=d:\dados\tratorpecas\ecodados.eco;   
 DataSource=localhost;   
 Port=3050;   
 Dialect=3;   
 Charset=NONE;   
 Role=;   
 Connection lifetime=15;   
 Pooling=true;   
 Packet Size=8192;   
 ServerType=0 ;</value>
            </setting>
            <setting name="cachorro" serializeAs="String">
                <value>ouifghoisufhasuhdfoisuhdf</value>
            </setting>
        </ConsultaErgonTech.Properties.Settings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>